/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Reset Code */




.main_wrapper{
    width: 1000px;
    height: auto;
    margin:auto;
    background-color: #dfdfdf;
}

.header_wrapper{
    width: 100%;
    height: 55px;
    margin:auto;
    background: #fff;
}

.header_logo{
    float:left;
    /* width: 150px; */
    /* padding: 10px; */
}

.header_logo img {
    width: 100px;
}

.header_logo a {
    margin: 0;
    padding: 0;
}

.menubar{
    width: 1000px;
    height: 50px;
    background: #0c5f66;
    
}

.menubar a {
    color : #fff;
}

#sidebar{
    width: 200px;
    background: rgba(105, 105, 105, 0.9);
    float: left;
    height: auto;
}

#sidebar_title{
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 22px;
    font-family: arial;
    padding : 10px;
    text-align: center;
}

#cats {
    text-align: center;
}

#cats li {
    list-style: none;
    margin: 5px;
}

#cats a {
    color: #fff;
    padding: 8px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cats a:hover{
    color: rgb(255, 102, 1);
    font-weight: bolder;
    text-decoration: underline;
}

#menu {
    padding : 0;
    margin: 0;
    line-height: 40px;
    float: left;
}

#menu li {
    list-style: none;
    display: inline;
}

#menu a {
    text-decoration: none;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
}

#menu a:hover {
    color :rgb(255, 102, 1);
    font-weight: bolder;
    text-decoration: underline;
}


#form{
    float: left;
    width: 45%;
    margin-top: 10px;
}

#form input{
    padding: 8px;
}

#form input[type=text]{
    width: 70%;
}


.cart{

    float: left;
    margin: 5px 10px 0px 15px;
    cursor: pointer;
    height: 35px;
    padding-top: 7px;
    position: relative;
    top: 0px;
    right: 20px;
    width: 60px;
    text-align: center;
    z-index: 1000;

}

.cart ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: auto;
    z-index: 1;
}

.cart .shopping-cart .noti-cart-number{
    background: #7e7204;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 25px;
    padding: 1px 3px 1px 3px;
    border-radius: 50%;
}

.register_login {
    float: left;
    width: 150px;
    margin: 10px 0px 0px 30px;
}

.register_login a {
    text-decoration: none;
}

.login a {color: rgba(146, 146, 146, 0.9);}
.register a {color: rgba(255, 255, 255, 0.9);}

.login {
    position: relative;
    top: 3px;
    float: left;
    height: 35px;
    right: 20px;
    line-height: 35px;
    padding: 0px 10px 0px 10px;
    margin: 0;
    color: #a0a0a0;
    cursor: pointer;
    position: relative;
    display: inline;
    border: 0.1px solid rgba(209, 209, 209, 0.9);
    border-radius: 1.5px;
}

.register {
    position: relative;
    top: 3px;
    float: left;
    height: 35px;
    right: 15px;
    line-height: 35px;
    padding: 0px 10px 0px 10px;
    margin: 0 0 0 7px;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: inline;
    background: rgba(0, 144, 155, 0.9);
    border: 0.01px;
    border-radius: 2px;
}

.cart img {
    width: 30px;
}


.content_wrapper{
    width: 1000px;
    margin: auto;
    background: rgb(255, 102, 1);
}

#content_area {
    width: 800px;
    float: right;
    background: #fff5ee;

}

#product_box {
   width: 780px;
   text-align: center;
   margin-left: 30px;
   margin-bottom: 10px; 
}

#single_product {
    float: left;
    margin-left: 30px;
    padding: 10px;
}

#single_product img {
    border: 2px solid #000;
}

#footer {
    width: 1000px;
    height: 100px;
    background: lemonchiffon;
    clear: both;
}